.col-md-4.text-center.profile-product-item
  %p= link_to product.title, category_product_path(product.category, product)
  %p= link_to image_tag(product.preview.url(:tiny), alt: product.title, title: product.title), category_product_path(product.category, product)
