%h1.text-center Profile
%hr/
.row
  - if notice
    .alert.alert-info.alert-big.text-center= notice
  .col-md-6.profile-edit
    = render 'profile'
  .col-md-6
    = render 'reviews', reviews: reviews