%h1.text-center Profile
%hr
.row
  .col-md-6.profile-edit
    - if notice
      .alert.alert-info.alert-big.text-center= notice
    = render 'profile'
  .col-md-6
    = render 'reviews', reviews: reviews