.row
	.col-md-2.nav-button= link_to 'Back', backUrl, class: 'btn btn-primary'
	.col-md-8
		%h1.text-center= title
	- if defined?(nextBtn)
		.col-md-2.nav-button.text-right= link_to nextBtn[:title], nextBtn[:path], class: 'btn btn-primary'
%hr