.category-item {
  background: #eee;
  padding: 0 0 20px 0;

  &:hover {
    background: #efe;
  }

  h3 {
    font-size: 35px;
    margin-bottom: 0;
  }

  .sub-header {
    font-size: 18px;
  }

  .action-buttons {
    a {
      &:hover {
        text-decoration: none;
      }
      
      font-size: 20px;

      &.btn-category-delete {
        color: red;
        margin-right: 25px;
      }
      &.btn-category-edit {
        color: green;
        margin-left: 25px;
      }
    }

  }
}