.category-item {
  position: relative;
  height: 110px;

  &:hover {
    background: #efe;

    .glyphicon-remove {
      display: block;
    }
  }

  h3 {
    font-size: 35px;
    margin-bottom: 0;
  }

  .sub-header {
    font-size: 18px;
  }

  .glyphicon-remove {
    display: none;
    position: absolute;
    top: 15px;
    right: 0;
    color: red;
    margin-right: 20px;
    font-size: 20px;

    &:hover {
      text-decoration: none;
    }
  }
}