.reviews-list {
  blockquote {
    &:hover {
      border-left-color: #ccc;
    }

    position: relative;

    a {
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.btn-delete-product {
  margin-top: 10px;
  width: 40%;
  font-size: 18px;
}