// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-edit {
  border-right: 1px solid #ccc;
}

.recent-reviews {
  li {
    margin-bottom: 20px;
  }

  .review-data {
    div {
      margin-right: 20px;
    }
  }
}