%h1.text-center Listing categories
%hr

- unless notice.nil?
  .alert.alert-success.alert-big.text-center= notice

- if categories.empty?
  .alert.alert-info.alert-big.text-center
    There are no categories yet.
    -if user_signed_in?
      But you can add some new ones.
- else
  .row
    = render categories

- if user_signed_in? && current_user.admin?
  .col-md-6.col-md-offset-3
    %hr
    .text-center= link_to 'New Category', new_category_path, class: 'btn btn-success btn-lg'