- if user_signed_in? && current_user.admin?
  - nextBtn = { title: 'Edit', path: edit_category_path(category) }
- else
  - nextBtn = nil

= render 'shared/navMenu', title: category.name, backUrl: categories_path, nextBtn: nextBtn

- if notice
  .alert.alert-success.alert-big.text-center= notice

- if user_signed_in?
  %p.text-center= link_to 'Add new product', new_category_product_path(category), class: 'btn btn-success btn-lg'
  %br

- if category.products.empty?
  .alert.alert-info.alert-big.text-center There are no any products yet
- else
  .row
    = render partial: 'product', collection: category.products

