%blockquote
  %p= review.content
  %div.raty{:data => {:score => "#{review.rating}", :number => 5}}
  - if user_signed_in? && review_belongs_to_current_user?(review)
    = link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), category_product_review_path(category, product, review), method: :delete, remote: false, :title => 'Delete review', data: {confirm: 'Are you sure?'}